<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Fitness Center Website</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	
<center>

<table align="center">
<tr valign="top">
	<td background="images/topBanner.jpg" width="1000px" height="345px">
		<table border=0 class="topMenu">
		<tr valign="top">
			<td width="425px"></td>
			<td width="370px"> 
				<div style="margin: 50px 0px 0px 45px;">
				<a class="top_menu" href="#">ABOUT US</a>
				</div>

				<div style="margin: 78px 0px 0px 15px;">
				<a class="top_menu" href="#">SERVICES</a>
				</div>

				<div style="margin: 68px 0px 0px 50px;">
				<a class="top_menu" href="#">CLIENTS</a>
				</div>
			</td>
			<td>
				<div style="margin: 50px 0px 0px 20px;">
				<a class="top_menu" href="#">HISTORY</a>
				</div>
				
				<div style="margin: 78px 0px 0px 55px;">
				<a class="top_menu" href="#">QI GONG</a>
				</div>
				
				<div style="margin: 68px 0px 0px 20px;">
				<a class="top_menu" href="#">CONTACT</a>
				</div>
			</td>
		</tr>
		</table>
		
		
	</td>
</tr>
</table>


<table width="1000" cellpadding="0" cellspacing="0" border="0" align="center">
<tr>
	<td valign="top" width="316" bgcolor="#FFFF99" style="border-bottom:1px solid #E0E1E2; 
	border-right:1px solid #E0E1E2;" class="left">  
		
		<h2>About Qi Gong</h2>
		<span class="lef_you flt"><p>Qi (or chi) is usually translated as life energy, lifeforce, or energy flow, and definitions often involve breath, air, gas, or relationship between matter, energy, and spirit. </p>
		
		<p>Qi is the central underlying principle in traditional Chinese medicine and martial arts. Gong (or kung) is often translated as cultivation or work, and definitions include practice, skill, mastery, merit, achievement, service, result, or accomplishment, and is often used to mean gongfu (kung fu) in the traditional sense of achievement through great effort. The two words are combined to describe systems to cultivate and balance life energy, especially for health. </p></span>
		
		<p><span class="lef_you flt">Qi Gong is useful for many things, including: </span></p>

		<p style="float:left; width:310px;">
			
			<img src="images/lef_bul.jpg" width="3" height="3" alt="" class="lef_bul flt" />
			<a href="#" class="lef_ban flt">Health Practices</a>
			
			<img src="images/lef_bul.jpg" width="3" height="3" alt="" class="lef_bu flt" />
			<a href="#" class="lef_ba flt">Meditation Practices</a>
			
			<img src="images/lef_bul.jpg" width="3" height="3" alt="" class="lef_bu flt" />
			<a href="#" class="lef_ba flt">Martial Arts Training</a>
			
			<img src="images/lef_bul.jpg" width="3" height="3" alt="" class="lef_bu flt" />
			<a href="#" class="lef_ba flt">Receiving energy from the Cosmos</a>
		</p>
		
		<p>&nbsp;</p>
		
		<span class="lef_cli flt">Client Testimonial</span>
		<span class="lef_yo flt">Your Qi Gong services are extremely helpful, I must say. My body feelts a lot
			better, not to mention my spirit and soul!</span>
		<span class="lef_john flt">- Random Client</span>			
	</td>
	<td valign="top" width="687" style="border-bottom:1px solid #D1D4D7" >
		<div class="cnt_bg flt">
			
			<span class="cnt_our flt">Our Services </span>
			
			<span class="cnt_we flt">We provide home loans, business loans, agricultural loans, VA loans, FHA loans among others. If you satisfy our various requirements concerning documents, your loans will be approved in three days. Your repayment capabilities and your collateral security will be scrutinized by our experts before sanctioning the loan. financial operations in one of our   financial operations in one of our 
			<br /><br />You may conduct your financial operations in one of our branches. has employed the top security for various online transactions. Though online banking fraud is widely   financial operations in one of our prevalent.You may conduct your financial operations in one of our branches. has employed the top security for various online transactions. Though online banking fraud is widely .</span>
			<a href="#" class="cnt_read flt "><img src="images/cnt_read.jpg" width="91" height="16" alt=""  /></a>
			
			<img src="images/cnt_line.jpg" width="614" height="1" alt="" class="cnt_line" />
			
			<span class="cnt_tra flt">Our Training Program</span>
			<p style="float:left; width:685px;">
				<img src="images/cnt_img.jpg" width="207" height="297" alt="" class="cnt_img flt" />
				<span class="cnt_you flt">You may conduct your financial operations in one of our branches. has employed the top security for various online transactions. Though online banking fraud is widely prevalent.ity for various online transactions. Though online banking fraud is widely prevalent.
				<br /><br />We provide home loans, business loans, agricultural loans, VA loans, FHA loans among others. If you satisfy our various requirements concerning documents.You may conduct your financial operations in one of our branches.</span>
				<span style="float:left; width:450px;">
				<img src="images/cnt_bul.jpg" width="4" height="4" alt="" class="cnt_bul flt" />
				<span class="cnt_ban flt">Banks and Finance</span>
				
				<img src="images/cnt_bul.jpg" width="4" height="4" alt="" class="cnt_bu flt" />
				<span class="cnt_ba flt">Markets and Investing</span>
				
				<img src="images/cnt_bul.jpg" width="4" height="4" alt="" class="cnt_bu flt" />
				<span class="cnt_ba flt">Company and Industry</span>
				
				<img src="images/cnt_bul.jpg" width="4" height="4" alt="" class="cnt_bu flt" />
				<span class="cnt_ba flt">Wealth Management</span>
				</span>
				
				<span class="cnt_may flt">Contact Us</span>
				<a href="#" class="cnt_rea flt ">
					<img src="images/cnt_rea.jpg" width="91" height="18" alt=""  /></a>
			</p>
			
		</div>
	</td>
</tr>
</table>

<table width="1004" cellpadding="0" cellspacing="0" border="0" align="center" >
<tr>
	<td valign="top" width="1004" bgcolor="#080803" style="padding-bottom:20px;">
		<span class="fo_our flt">Our Site is Valid for 	</span>
	    <a href="#" class="fo_home flt">home </a>
		<span class="fo_line flt"> | </span>  
		<a href="#" class="fo_ser flt">services</a>
		<span class="fo_line flt"> | </span>  
		<a href="#" class="fo_ser flt">traning program </a>
		<span class="fo_line flt"> | </span>  
		<a href="#" class="fo_ser flt">portfolio</a>
		<span class="fo_line flt"> | </span>  
		<a href="#" class="fo_ser flt">services  </a>
		<span class="fo_line flt"> | </span>  
		<a href="#" class="fo_ser flt">contact us</a>
		<span style="float:left; width:1000px;">
		<a href="#">
			<img src="images/fo_val.jpg" width="81" height="18" alt="" class="fo_val flt" 		 /></a>
		<a href="#">
			<img src="images/fo_val1.jpg" width="81" height="18" alt="" class="fo_val1 flt" 		 /></a>
			<span class="fo_co flt"><a href="http://www.buytemplates.net/CSS-XHTML-web-templates.aspx" style="color:#CCCCCC;">Qi Gong</a> Copyright info <a href="#" class="fo_c">Legal policy</a> and <a href="#" class="fo_c">xxx</a></span>
		</span>
	</td>
</tr>
</table>
</center>
		
</body>
</html>