<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>TemplateAccess.com Theme</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<!-- Cufon -->
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/myradpro.font.js"></script>
<script type="text/javascript">
Cufon.replace('h1')('h2')('h3')('h4');
</script>
</head>
<body>
<div class="main">
  <div class="top_line">
    <div class="top_line_resize">
      <div class="feebback"><span>Follow us on social network</span><img src="images/icon_sm_1.png" width="18" height="18" alt="icon" /><img src="images/icon_sm_2.png" width="18" height="18" alt="icon" /> <img src="images/icon_sm_3.png" width="18" height="18" alt="icon" /><img src="images/icon_sm_4.png" width="18" height="18" alt="icon" /></div>
      <div class="search">
        <form id="form1" name="form1" method="post" action="">
          <span>
          <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
          <input name="b" type="image" src="images/search.gif" class="button" />
          </span>
        </form>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="header">
    <div class="logo"><a href="#"><img src="images/logo.png" alt="logo" width="207" height="96" border="0" /></a></div>
    <div class="menu">
      <ul>
        <li><a href="index.html"><span>Home</span></a></li>
        <li><a href="portfolio.html"><span>Portfolio</span></a></li>
        <li><a href="blog.html"><span>Blog</span></a></li>
        <li><a href="about.html" class="active"><span>About Us</span></a></li>
        <li><a href="contact.html"><span>Contact Us</span></a></li>
      </ul>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="header_text">
    <div class="header_text_resize">
    <h1>About Us</h1>
      <p>Aliquam ac pretium lectus. Quisque non ante id eros a ccumsan iaculis quis a velit. Donec quam pur <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span></p>
    </div>
  </div>
  <div class="body">
    <div class="body_resize">
      <div class="left">
        <h2>About Our Company<span>Sed congue, dui vel tristique mollis...</span>        </h2>
        <p><img src="images/big_img_1.jpg" alt="picture" width="621" height="170" class="none" /></p>
        <p>Aliquam erat volutpat. Etiam vel velit eu nibh mattis dapibus. Donec elit dui, sagittis ac volutpat nec, blandit in metus. Fusce sollicitudin urna non ligula gravida ac vehicula massa blandit. Duis bibendum lacinia purus sit amet pellentesque. Suspendisse non nibh vitae elit auctor dignissim adipiscing vel felis. Sed facilisis neque ut nulla hendrerit vel elementum nisi ultrices. Suspendisse ac dolor leo, nec elementum orci. Morbi porttitor egestas enim at auctor. Fusce porta fermentum metus eu interdum. Vivamus imperdiet orci a dolor venenatis quis pellentesque elit dignissim. Nulla nunc libero, pretium sed lacinia ut, aliquam in metus. Phasellus adipiscing euismod metus, lacinia tincidunt justo lacinia eu.</p>
        <p>Morbi eget tellus urna. Donec eget magna ut augue pellentesque hendrerit. In vitae nibh dolor. Morbi sed eros nunc, at ullamcorper ante. Cras leo magna, rhoncus at pretium et, fringilla sed lectus. Suspendisse potenti. Proin non risus tellus. Nam id augue risus. Nulla eu tempus enim. Praesent sagittis lacus et quam gravida accumsan. Curabitur sagittis, diam vitae suscipit ullamcorper, arcu nulla mollis quam, at dignissim diam quam at nisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque libero turpis, aliquam sit amet faucibus quis, luctus ac urna. Sed faucibus ante vitae enim volutpat non tempor lorem dictum. Duis volutpat ultrices tincidunt.</p>
        <p>Maecenas ultrices, neque in adipiscing varius, nunc ante mollis nisi, vel tempor ipsum tortor eu nulla. Sed sagittis nunc eu est sagittis consectetur. Mauris ac nisi augue, tincidunt volutpat arcu. Phasellus justo dui, viverra vulputate fermentum non, tincidunt quis quam. Morbi sed velit nunc, sit amet sodales turpis. Nam consequat cursus sem sed vestibulum. Aenean tincidunt risus vitae magna imperdiet eu varius purus elementum. Vivamus dapibus scelerisque sem, eget bibendum libero cursus ac. Mauris augue dolor, consectetur a tristique nec, imperdiet in libero. Cras at aliquet urna. Nunc posuere fermentum felis vitae tempor.</p>
      </div>
      <div class="right">
        <h2>News<span>Sed congue, dui vel tristique mollis...</span></h2>
        <p><a href="#">September 19, 2010</a><br />
          Lorem ipsum dolor sit amet<br />
        Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ut enim ad minim veniam...</p>
        <p><strong><a href="#"><img src="images/button_more.gif" alt="button" width="39" height="12" border="0" class="none" /></a></strong></p>
        <p><a href="#">September 19, 2010</a><br />
Lorem ipsum dolor sit amet<br />
Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.Ut enim ad minim veniam...</p>
        <p><strong><a href="#"><img src="images/button_more.gif" alt="button" width="39" height="12" border="0" class="none" /></a></strong></p>
        <p>&nbsp;</p>
<h2>Testimonial<span>Sed congue, dui vel tristique mollis...</span></h2>
        <p>&quot;Lorem ipsum dolor sit amet, consectetuer <br />
        adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.”</p>
        <p><a href="#">by: John S., webdesigner</a></p>
        <p>&quot;Lorem ipsum dolor sit amet, consectetuer <br />
adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna.”</p>
        <p><a href="#">by: John S., webdesigner</a></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<div class="FBG">
  <div class="FBG_resize">
    <div class="blog">
      <h2>Recent Post</h2>
      <ul>
        <li><a href="#">&raquo; Full standards compliance</a></li>
        <li><a href="#">&raquo; All of Videos Supported</a></li>
        <li><a href="#">&raquo; Spam protection</a></li>
        <li><a href="#">&raquo; Video Support!</a></li>
        <li><a href="#">&raquo; We have gone!</a></li>
        <li><a href="#">&raquo; Dummy Photo</a></li>
        <li><a href="#">&raquo; We have gone!</a></li>
        <li><a href="#">&raquo; Dummy Photo</a></li>
      </ul>
    </div>
    <div class="blog">
      <h2>What They Say</h2>
      <p><img src="images/quote.png" width="20" height="19" alt="quote" /> &nbsp;Quis autem vel eum iure reprehenderit <br />
        qui in ea voluptate qui in ea voluptate velit esse voluptas nulla velit esse voluptas nulla pariatur Quis autem vel eum iure reprehender voluptate velit esse voluptas nulla 
        qui in ea qui in ea voluptate velit esse voluptas nullavoluptate velit esse voluptas nulla pariatur?&quot;</p>
      <p>by: John S., webdesigner</p>
    </div>
    <div class="blog">
      <h2>Latest News</h2>
      <p><strong>At vero eos et accusamus et iusto </strong><br />
        <a href="#">January 6, 2010</a><br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolore magna aliqua...</p>
      <p><strong>Cras lobortis mauris vel diam </strong><br />
        <a href="#">February 27, 2010</a><br />
        Ut enim ad minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet...</p>
      <div class="clr"></div>
    </div>
    <div class="blog last">
      <h2>Contact</h2>
      <p>+1 215.676.7876<br />
        <a href="mailto:contact@mycompany.com">contact@mycompany.com</a><br />
        123 Pine Street<br />
        Mycity, ST 19000 </p>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="footer">
  <div class="footer_resize">
    <p class="leftt">&copy; Copyright <a href="#">Templatesold</a>. All Rights Reserved </p>
    <p class="right"> (TS) <a href="http://www.templatesold.com">Website Templates</a></p>
    <div class="clr"></div>
  </div>
</div>
</body>
</html>