<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>MyFreeCssTemplates.com free CSS template</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="styles.css" rel="stylesheet" type="text/css" media="screen" />
		<link rel="stylesheet" href="nivo-slider.css" type="text/css" media="screen" />
    </head>
    <body>   
		<div id="wrap">
		    <div id="content_bg">
			 <div id="menu">
					<ul>
						<li><a href="#" class="active">Home</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Gallery</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
					<div class="clear"></div>
			  </div>
					
			<div id="logo">
				<h1><a href="#">freecss_greenmint</a></h1>
				<a href="#"><small>Small Company Slogan Goes Here</small></a>
			</div>
			
				<div id="header">
				
				  <div id="wrapper">
        <div id="slider-wrapper">        
            <div id="slider" class="nivoSlider">
                <img src="images/header.jpg" alt="" />
                <img src="images/header2.jpg" alt=""/>
                <img src="images/header3.jpg" alt="" />
            </div>        
        </div>

</div>

<script type="text/javascript" src="lib/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="lib/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>
				
				</div>			
				
			  <div id="content_white">
			
			     <div id="content">
		<div class="wrapper">
			<div class="col1 pad_left1">
				<h2>Recent News</h2>
				<p><span class="color1">22.01.2012</span><br /><a href="#" class="mylink1">Vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum.</a></p>
				<p><span class="color1">29.11.2011</span><br /><a href="#" class="mylink1">Deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.</a></p>
				<p><span class="color1">22.10.2011</span><br /><a href="#" class="mylink1">Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</a></p>
				<p><a href="#"><b>News Archive</b></a></p>
			</div>
			<div class="col2 pad_left1">
				<h2>Our Projects</h2>
				<div class="wrapper pad_bot1">
					<div class="left marg_right1"><img src="images/img1.jpg" alt="" /></div>
					<p><span class="color1">Temporibus autem quibusdam</span> et aut officiis debitis au rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
				</div>
				<div class="wrapper pad_bot1">
					<div class="left marg_right1"><img src="images/img2.jpg" alt="" /></div>
					<p><span class="color1">Sed ut perspiciatis unde omnis iste natus</span> error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore  voluptatem quia voluptas.</p>
				</div>
				<div class="wrapper">
					<div class="left marg_right1"><img src="images/img3.jpg" alt="" /></div>
					<p><span class="color1">Temporibus autem quibusdam</span> et aut officiis debitis au rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente.</p>
				</div>
			</div>
		</div>
	</div>
			
			  </div>
				
				<div id="footer_top">
			<div id="footer_column1">
				<h3>Recent posts</h3>
				<div class="footer_text">
					<p><a href="#">Suspendisse rutrum interdum lacinia.</a>
					Suspendisse tempus aliquet elit sit amet pellentesque. Donec iaculis pulvinar mauris, ac vulputate justo pretium quis. </p>
					<br />
					<p><a href="#">Quisque luctus, mi ornare malesuada</a>
					Suspendisse tempus aliquet elit sit amet pellentesque. Donec iaculis pulvinar </p>
				</div>
			</div>
			<div id="footer_column2">
				<h3>Share with Others</h3>
				<div class="footer_text">
					<div class="foot_pad">
                   		<div class="link1"><a href="#">Subscribe to Blog</a></div>
                        <div class="link2"><a href="#">Be a fan on Facebook</a></div>
                        <div class="link3"><a href="#">RSS Feed</a></div>
                        <div class="link4"><a href="#">Follow us on Twitter</a></div>
                    </div>
				</div>
			</div>
			<div id="footer_column3">
				<h3>Useful Resources</h3>
				<div class="footer_text">
					<div class="foot_pad">
                    	<ul class="ls">
                        	<li><a href="#">Lorem ipsum dolor</a></li>
                            <li><a href="#">Maecenas in turpis </a></li>
                            <li><a href="#">Morbi fringilla libero</a></li>
                            <li><a href="#">In venenatis metus vel </a></li>
                            <li><a href="#">Donec cursus quam ac </a></li>
                        </ul>
                    </div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
				
			</div>
			
			<div id="footer_bot">
				<p>Copyright  2012. <!-- Do not remove -->Designed by <a href="http://www.metamorphozis.com/free_templates/free_templates.php" title="Free Website Templates">Free Website Templates</a>, coded by <a href="http://www.myfreecsstemplates.com" title="Free CSS Templates">Free CSS Templates</a><!-- end --></p>
		        <p><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
			</div>
		</div>

    </body>
</html>
