<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 

	<title>Business.Com</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

	<meta name="keywords" content="key, words" />	
	<meta name="description" content="" />
	<meta name="robots" content="" /><!-- change into index, follow -->
				
	<link rel="stylesheet" href="stylesheets/global.css" type="text/css" />
	
	<!--[if lte IE 6]>
		<link rel="stylesheet" href="stylesheets/ie6.css" type="text/css" />
		<script type="text/javascript" src="javascripts/pngfix.js"></script>
		<script type="text/javascript" src="javascripts/ie6.js"></script>
	<![endif]-->
    
</head>

<body>
<!--  / WRAPPER \ -->
<div id="wrapper">
	<!--  / MAIN CONTAINER \ -->
	<div id="mainCntr">
      <!-- / HEADER CONTAINER \ -->
      <div id="headerCntr">
        <object type="application/x-shockwave-flash" data="10.swf" width="1000" height="510">
          <param name="movie" value="10.swf" />
        </object>
      </div>
	  <!-- \ HEADER CONTAINER / -->
	  
      <!-- \ CONTENT CONTAINER / -->
      <div id="contentCntr">
	  
        <!-- \ TOP CONTAINER / -->
        <div id="topCntr">
         
			<!-- / FEATURED BOX \ -->
			<div class="left" style="margin-top:5px;">
			<h4>About Us</h4>
				  <div>
				<img src="images/photo-about.jpg" alt="" width="177" height="117" class="aboutus-img" /><br />
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin  sed odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum  varius, risus neque venenatis arcu, a semper massa mi eget ipsum.<br />
				<br />
				Lorem  ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et  ante adipiscing lobortis. Quisqueeleifend, arcu a dictum varius, risus  neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et  ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer  adipiscing elit. Proin sed odio et ante adipiscing lobortis. Quisque  eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper  massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. <br />
				<br />
				<br />
				<div class="clear"></div>
				</div>
				<div class="clear"></div>
				<div>
				<h5>Our Values</h5>
				<div>Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a  semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis.  Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet,  consectetuer adipiscing elit. Proin sed odio et ante adipiscing  lobortis.</div>
				</div>
				<div class="clear"></div>
				<div class="aboutcolumnzone">
				<div class="aboutcolumn1">
				<div>
				  <h5>Customer Service</h5>
				  <img src="images/ico-med-1.png" alt="" class="abouticon" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum  varius,
				  <div class="insidereadmore"><a href="#"><img border="0" alt="" src="images/read_more.gif"/></a></div>
				</div>
				</div>
				<div class="aboutcolumn2">
				<div>
				  <h5>Award Winning</h5>
				  <img src="images/ico-med-2.png" alt="" class="abouticon" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum  varius,
				  <div class="insidereadmore"><a href="#"><img border="0" alt="" src="images/read_more.gif"/></a></div>
				</div>
				</div>
				<div class="clear"></div>
				<div class="aboutcolumn1">
				<div>
				  <h5>Global Reach</h5>
				  <img src="images/ico-med-3.png" alt="" class="abouticon" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum  varius,
				  <div class="insidereadmore"><a href="#"><img border="0" alt="" src="images/read_more.gif"/></a></div>
				</div>
				</div>
				<div class="aboutcolumn2">
				<div>
				  <h5>Availability</h5>
				  <img src="images/ico-med-4.png" alt="" class="abouticon" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed  odio et ante adipiscing lobortis. Quisque eleifend, arcu a dictum  varius,
				  <div class="insidereadmore"><a href="#"><img border="0" alt="" src="images/read_more.gif"/></a></div>
				</div>
				</div>
				<div class="clear"></div>
				</div>
				<div>
				<h5>Our Commitment</h5>
				<div> Quisque eleifend, arcu a dictum varius, risus neque venenatis arcu, a semper massa mi eget ipsum. Proin sed odio et ante adipiscing lobortis. Proin sed odio et ante adipiscing lobortis. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Proin sed odio et ante adipiscing lobortis. </div>
				</div>
			</div>
			<!-- / FEATURED BOX \ -->
		  
			   <!-- / WHAT BOX \ -->
			  <div class="whatBox">
				<h4>Submenu</h4>
				  <ul>
					<li>» <a href="#">Been the industry's standard dummy.</a></li>
					<li>» <a href="#">Simply dummy text orem.</a></li>
					<li>» <a href="#">Undustry's standard dummy text.</a></li>
					<li>» <a href="#">Been the industry's stan.</a></li>
					<li>» <a href="#">Undustry's standard dum.</a></li>
					<li>» <a href="#">Simply dummy text orem.</a></li>
					<li>» <a href="#">Been the industry's standard dum.</a><br />
					</li>
				  </ul>
			  </div>
			  <!-- / WHAT BOX \ -->
		
			<!-- / WHAT BOX \ -->
			<div class="whatBox">
			<h4>Testimonials</h4>
			  <p style="font-size:12px;"><em>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the. industry's standard dummy”</em></p>
			<p><strong>-Jhon Jhohonson, web designer</strong></p>
			</div>
			<!-- / WHAT BOX \ -->
        </div>
        <!-- / TOP CONTAINER \ -->
		
      </div>
	  <!-- / CONTENT CONTAINER \ -->
    </div>
	<!-- \ MAIN CONTAINER / -->
    <!-- / FOOTER CONTAINER \ -->
	<div id="footerCntr">
		 <div class="footer">
		 <div class="footerleft">             
			<ul>
				<li><a href="#">home</a></li>          
				<li><a href="#">services</a></li>         
				<li><a href="#">portfolio</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">contact </a></li>
				<li><a href="#">rss feed </a></li>
				<li><a href="#"><img src="images/follow_me.gif" alt="" /></a></li>
			</ul>
		 </div>
		 <div class="footerright">© Copyright 2009. dreamtemplate.com. All Rights Reserved</div>
		 </div>
  </div>
	<!-- \ FOOTER CONTAINER / -->	
	
</div>
<!-- \ WRAPPER / -->
</body>
</html>