<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 

	<title>Business.Com</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

	<meta name="keywords" content="key, words" />	
	<meta name="description" content="" />
	<meta name="robots" content="" /><!-- change into index, follow -->
				
	<link rel="stylesheet" href="stylesheets/global.css" type="text/css" />
	
    
	<!--[if lte IE 6]>
		<link rel="stylesheet" href="stylesheets/ie6.css" type="text/css" />
		<script type="text/javascript" src="javascripts/pngfix.js"></script>
		<script type="text/javascript" src="javascripts/ie6.js"></script>
	<![endif]-->
    
</head>

<body>
<!--  / WRAPPER \ -->
<div id="wrapper">
	<!--  / MAIN CONTAINER \ -->
	<div id="mainCntr">
      <!-- / HEADER CONTAINER \ -->
      <div id="headerCntr">
        <object type="application/x-shockwave-flash" data="10.swf" width="1000" height="510">
          <param name="movie" value="10.swf" />
        </object>
      </div>
	  <!-- \ HEADER CONTAINER / -->
	  
      <!-- \ CONTENT CONTAINER / -->
      <div id="contentCntr">
	  
        <!-- \ TOP CONTAINER / -->
        <div id="topCntr">
          <!-- / WHAT BOX \ -->
          <div class="whatBox">
            <h2>Welcome </h2>
            <p><span>Simply dummy text of the printing and typesetting industry.</span></p>
            <p>Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer.Simply dummy text of the printing <a href="#">and typesetting industry. Lorem Ipsum</a> has been the industry's standard dummy text ever since thes, when an unknown printer.Simply dummy text of the printing and typesetting industry. <br />
              Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer. Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer.</p>
          </div>
          <!-- / WHAT BOX \ -->
          <!-- / WHAT BOX \ -->
          <div class="whatBox">
            <h2>What we do</h2>
            <p> <span>Dummy text of the printing and typesetting industry.</span> </p>
            <p>Has been the industry's standard dummy text ever since thes, when an unknown printer.Simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text </p>
            <p><a href="#"><img src="images/read_more.gif" alt="picture" width="90" height="20" border="0" /></a></p>
          </div>
          <!-- / WHAT BOX \ -->
		  
		   <!-- / WHAT BOX \ -->
          <div class="whatBox">
            <h2>Our Services</h2>
			  <ul>
				<li>» <a href="#">Been the industry's standard dummy.</a></li>
				<li>» <a href="#">Simply dummy text orem.</a></li>
				<li>» <a href="#">Undustry's standard dummy text.</a></li>
				<li>» <a href="#">Been the industry's stan.</a></li>
				<li>» <a href="#">Undustry's standard dum.</a></li>
				<li>» <a href="#">Simply dummy text orem.</a></li>
				<li>» <a href="#">Been the industry's standard dum.</a></li>
			  </ul>
			  <p ><a href="#"><img src="images/view_all.gif" alt="picture" width="79" height="20" border="0" /></a></p>
          </div>
          <!-- / WHAT BOX \ -->
		  <div class="clear"></div>
			  <!-- / WHAT BOX \ -->
			  <div class="whatBox">
				<h2>Our Services</h2>
				  <p style="font-size:12px;"><em>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the. industry's standard dummy"</em></p>
		  <p><a href="#" style="float:right;"><strong>-Jhon Jhohonson, web designer</strong></a></p>
			  </div>
			  <!-- / WHAT BOX \ -->
			  
			<!-- / FEATURED BOX \ -->
			<div class="featuredBox">
				  <h2>Featured Services</h2>
      <p>Been the industry's standard dummy text ever since thes, when rinter.Simply dummy text orem Ipsum has  standard dummy text ever since thes, when an unknown printer.Simply dummy text of the printing and typesetting industry. </p>
		<ul>
			<li>Been the industry's standard dummy text ever since thes, when rinter.</li>
			<li>Simply dummy text orem Ipsum has  standard dummy text ever since thes, when an unknown. </li>
		</ul>
	  
			</div>
			<!-- / FEATURED BOX \ -->
			
        </div>
        <!-- / TOP CONTAINER \ -->
		
      </div>
	  <!-- / CONTENT CONTAINER \ -->
    </div>
	<!-- \ MAIN CONTAINER / -->
    <!-- / FOOTER CONTAINER \ -->
	<div id="footerCntr">
		 <div class="footer">
		 <div class="footerleft">             
			<ul>
				<li><a href="#">home</a></li>          
				<li><a href="#">services</a></li>         
				<li><a href="#">portfolio</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">contact </a></li>
				<li><a href="#">rss feed </a></li>
				<li><a href="#"><img src="images/follow_me.gif" alt="" /></a></li>
			</ul>
		 </div>
		 <div class="footerright">© Copyright 2009. dreamtemplate.com. All Rights Reserved</div>
		 </div>
  </div>
	<!-- \ FOOTER CONTAINER / -->	
	
</div>
<!-- \ WRAPPER / -->
</body>
</html>