<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 

	<title>Business.Com</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

	<meta name="keywords" content="key, words" />	
	<meta name="description" content="" />
	<meta name="robots" content="" /><!-- change into index, follow -->
				
	<link rel="stylesheet" href="stylesheets/global.css" type="text/css" />
	<link rel="stylesheet" href="stylesheets/ie6.css" type="text/css" />
	
    
	<!--[if lte IE 6]>
		<link rel="stylesheet" href="stylesheets/ie6.css" type="text/css" />
		<script type="text/javascript" src="javascripts/pngfix.js"></script>
		<script type="text/javascript" src="javascripts/ie6.js"></script>
	<![endif]-->
   
</head>

<body>
<!--  / WRAPPER \ -->
<div id="wrapper">
	<!--  / MAIN CONTAINER \ -->
	<div id="mainCntr">
      <!-- / HEADER CONTAINER \ -->
      <div id="headerCntr">
        <object type="application/x-shockwave-flash" data="10.swf" width="1000" height="510">
          <param name="movie" value="10.swf" />
        </object>
		
      </div>
	  <!-- \ HEADER CONTAINER / -->
	  <div class="clear"></div>
		<div class="header">
		<h2 style="float:left;">Our Portfolio</h2>
		<div class="buttonss"><a href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">5</a></div>
		<p>Dummy text of the printing and typesetting industry.</p>
		</div>
	  
      <!-- \ CONTENT CONTAINER / -->
      <div id="contentCntr">
	  
        <!-- \ TOP CONTAINER / -->
        <div id="topCntr">
         
			<!-- / FEATURED BOX \ -->
			<div class="featuredBox">
				  <p><span>Simply dummy text of the printing and typesetting industry.</span></p>
			<p style="padding-bottom:30px;">Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer.Simply dummy text of the <a href="#" style="font-size:11px; font-weight:normal;">printing and typesetting industry.</a> Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer.Simply dummy text of the printing and typesetting industry</p>
			
			<img src="images/port_1.jpg" alt="" />
			  <p><a href="#">Lorem Ipsum has been</a></p>
			  <p style="border-bottom: #caceca  dashed 1px; height:150px; font-size:13px; margin:0px 0px 30px 0px;">
			  
Industry's standard dummy text ever since thes, when an unknoprinter.Simply dummy text of the printing.<br />
              <a href="#"><img src="images/launch_project.gif" alt="" style="padding:30px 0px 0px 0px;" /></a> </p>
			  <img src="images/port_2.jpg" alt="" />
			  <p><a href="#">Lorem Ipsum has been</a></p>
			  <p style="border-bottom: #caceca  dashed 1px; height:150px; margin:0px 0px 30px 0px; font-size:13px;">
			  
Industry's standard dummy text ever since thes, when an unknoprinter.Simply dummy text of the printing.<br />
              <a href="#"><img src="images/launch_project.gif" alt="" style="padding:30px 0px 0px 0px;" /></a> </p>
			  
			 <img src="images/port_3.jpg" alt="" />
			  <p><a href="#">Lorem Ipsum has been</a></p>
			  <p style="height:140px; margin:0px 0px 20px 0px; font-size:13px;">
			  
Industry's standard dummy text ever since thes, when an unknoprinter.Simply dummy text of the printing.<br />
              <a href="#"><img src="images/launch_project.gif" alt="" style="padding:30px 0px 0px 0px;" /></a> </p>
			
			</div>
			<!-- / FEATURED BOX \ -->
		  
			   <!-- / WHAT BOX \ -->
			  <div class="whatBox">
				<h4>Submenu</h4>
				  <ul>
					<li>» <a href="#">Graphics Design</a></li>
					<li>» <a href="#">Web Design</a></li>
					<li>» <a href="#">Identity</a></li>
					<li>» <a href="#">Logos</a></li>
					<li>» <a href="#">Animation &amp;Video</a></li>
					<li>» <a href="#">Programming</a></li>
					<li>» <a href="#">HTML-Coding</a><br />
					</li>
				  </ul>
			  </div>
			  <!-- / WHAT BOX \ -->
		
			<!-- / WHAT BOX \ -->
			<div class="whatBox">
			<h4>Testimonials</h4>
			  <p style="font-size:12px;"><em>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the. industry's standard dummy"</em></p>
			<p><a href="#" style="float:right;"><strong>-Jhon Jhohonson, web designer</strong></a></p>
			</div>
			<!-- / WHAT BOX \ -->
        </div>
        <!-- / TOP CONTAINER \ -->
		
      </div>
	  <!-- / CONTENT CONTAINER \ -->
    </div>
	<!-- \ MAIN CONTAINER / -->
    <!-- / FOOTER CONTAINER \ -->
	<div id="footerCntr">
		 <div class="footer">
		 <div class="footerleft">             
			<ul>
				<li><a href="#">home</a></li>          
				<li><a href="#">services</a></li>         
				<li><a href="#">portfolio</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">contact </a></li>
				<li><a href="#">rss feed </a></li>
				<li><a href="#"><img src="images/follow_me.gif" alt="" /></a></li>
			</ul>
		 </div>
		 <div class="footerright">© Copyright 2009. dreamtemplate.com. All Rights Reserved</div>
		 </div>
  </div>
	<!-- \ FOOTER CONTAINER / -->	
	
</div>
<!-- \ WRAPPER / -->
</body>
</html>