<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 

	<title>Business.Com</title>

	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

	<meta name="keywords" content="key, words" />	
	<meta name="description" content="" />
	<meta name="robots" content="" /><!-- change into index, follow -->
				
	<link rel="stylesheet" href="stylesheets/global.css" type="text/css" />
	
	<!--[if lte IE 6]>
		<link rel="stylesheet" href="stylesheets/ie6.css" type="text/css" />
		<script type="text/javascript" src="javascripts/pngfix.js"></script>
		<script type="text/javascript" src="javascripts/ie6.js"></script>
	<![endif]-->
    
</head>

<body>
<!--  / WRAPPER \ -->
<div id="wrapper">
	<!--  / MAIN CONTAINER \ -->
	<div id="mainCntr">
      <!-- / HEADER CONTAINER \ -->
      <div id="headerCntr">
        <object type="application/x-shockwave-flash" data="10.swf" width="1000" height="510">
          <param name="movie" value="10.swf" />
        </object>
      </div>
	  <!-- \ HEADER CONTAINER / -->
	  
      <!-- \ CONTENT CONTAINER / -->
      <div id="contentCntr">
	  
        <!-- \ TOP CONTAINER / -->
        <div id="topCntr">
         
			<!-- / FEATURED BOX \ -->
			<div class="featuredBox">
				  <h2>Featured Services</h2>
				  <p><span>Simply dummy text of the printing and typesetting industry.</span></p>
			<p>Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer.Simply dummy text of the <a href="#">printing and typesetting industry.</a> Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer.Simply dummy text of the printing and typesetting industry</p>
			
			<img src="images/serv_1.jpg" alt="" />
			  <h3>Service One</h3>
			  <p style="border-bottom: #caceca  dashed 1px; height:110px; margin:20px 0px;">
			  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it?<br />
              <a href="#"><img src="images/read_more.gif" alt="" border="0" /></a> </p>
			  <img src="images/serv_2.jpg" alt="" />
			  <h3>Service Two</h3>
			  <p style="border-bottom: #caceca  dashed 1px; height:110px; margin:20px 0px;">
			  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it?<br />

              <a href="#"><img src="images/read_more.gif" alt="" border="0" /></a> </p>
			  <img src="images/serv_3.jpg" alt="" />
			  <h3>Service Two</h3>
			  <p style=" height:110px; margin:20px 0px;">
			  It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Why do we use it?<br />
              <a href="#"><img src="images/read_more.gif" alt="" border="0"  /></a> </p>
			
			</div>
			<!-- / FEATURED BOX \ -->
		  
			   <!-- / WHAT BOX \ -->
			  <div class="whatBox">
				<h4>Submenu</h4>
				  <ul>
					<li>» <a href="#">Been the industry's standard dummy.</a></li>
					<li>» <a href="#">Simply dummy text orem.</a></li>
					<li>» <a href="#">Undustry's standard dummy text.</a></li>
					<li>» <a href="#">Been the industry's stan.</a></li>
					<li>» <a href="#">Undustry's standard dum.</a></li>
					<li>» <a href="#">Simply dummy text orem.</a></li>
					<li>» <a href="#">Been the industry's standard dum.</a><br />
					</li>
				  </ul>
			  </div>
			  <!-- / WHAT BOX \ -->
		
			<!-- / WHAT BOX \ -->
			<div class="whatBox">
			<h4>Testimonials</h4>
			  <p style="font-size:12px;"><em>"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the. industry's standard dummy"</em></p>
			<p><strong>-Jhon Jhohonson, web designer</strong></p>
			</div>
			<!-- / WHAT BOX \ -->
        </div>
        <!-- / TOP CONTAINER \ -->
		
      </div>
	  <!-- / CONTENT CONTAINER \ -->
    </div>
	<!-- \ MAIN CONTAINER / -->
    <!-- / FOOTER CONTAINER \ -->
	<div id="footerCntr">
		 <div class="footer">
		 <div class="footerleft">             
			<ul>
				<li><a href="#">home</a></li>          
				<li><a href="#">services</a></li>         
				<li><a href="#">portfolio</a></li>
				<li><a href="#">about</a></li>
				<li><a href="#">contact </a></li>
				<li><a href="#">rss feed </a></li>
				<li><a href="#"><img src="images/follow_me.gif" alt="" /></a></li>
			</ul>
		 </div>
		 <div class="footerright">© Copyright 2009. dreamtemplate.com. All Rights Reserved</div>
		 </div>
  </div>
	<!-- \ FOOTER CONTAINER / -->	
	
</div>
<!-- \ WRAPPER / -->
</body>
</html>