<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Your Business Name</title>
<link rel="stylesheet" type="text/css" href="screenstyle.css" />
</head>
<body>
<div class="container">

<div class="titleblock">
  <h1>Your Name</h1><p>&ldquo;Insert some random text here.&rdquo;</p></div>

<div><ul class="navbar">
		 <li><a href="#" class="nav">Home</a></li>
		 <li><a href="#" class="nav">About Us</a></li>
		 <li><a href="#" class="nav">Products</a></li>
		 <li><a href="#" class="nav">Contact</a></li>
</ul></div>

<div class="rightcontainer">
<div class="rightbox"><h2>Search</h2>
	<p>Search Box Here</p></div>
	<div class="rightbox"><h2>News</h2>
	<p>We just opened for business. Save 10% on all sales.</p></div>

  <div class="rightbox linkbox"><h2>Links</h2>
  		<a href="http://www.google.com/" title="Google">Google</a>
  	    <a href="http://www.sxc.hu/" title="stock.xchng">stock.xchng</a>
  		<a href="http://www.howstuffworks.com/" title="How Stuff Works">How Stuff Works</a>
  </div>
</div>

<div class="content">

		 <h2>Welcome to My Site</h2>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>

		 <h2>Next Header</h2>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
		 
		 <h2>Next Header</h2>
		 <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
		 
</div>

<div class="footer">
  <div class="right">
    <p>&copy; <SCRIPT>
<!--
var year=new Date();
year=year.getYear();
if (year<1900) year+=1900;
document.write(year);
//-->
</SCRIPT> Your Company Name</p>
    
  </div>
    
        <p></p>

</div>
<!-- #############################End OF Template###########################-->
</div>
<!--This link Must Remain In Place For Use Of This Template-->
Design By:<a href="http://www.genpowerusa.com" id="footerlinks">Diesel Generators</a>
<div style="text-align: center; font-size: 0.75em;">Design downloaded from <a href="http://www.freewebtemplates.com/">free website templates</a>.</div></body>
</html>
