<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Metamorphosis Design Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="lib/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="lib/jquery.tools.js"></script>
<script type="text/javascript" src="lib/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="lib/jquery.tools.js"></script>
</head>
<body>


<div id="bg_top">


<div id="main">
<!-- header begins -->
<div id="header">
	<div id="buttons">
      <a href="index.html" class="but"  title="">Home</a><div class="but_razd"></div>
      <a href="blog.html"  class="but" title="">Blog</a><div class="but_razd"></div>
      <a href="gallery.html"  class="but" title="">Gallery</a><div class="but_razd"></div>
      <a href="about_us.html" class="but" title="">About Us</a><div class="but_razd"></div>
      <a href="contact_us.html" class="but" title="">Contact us</a>
    </div>
	<div id="logo">
    	<a href="#">metamorph_compiled</a><br />
      	<a href="#" id="metamorph"><small>Small Company Slogan Goes Here</small></a>
    </div>
    
</div>
<!-- header ends -->

<div class="top">	
    <div class="top_img">
				<div class="scrollable">
				<div class="items">
					<div class="item">
						<div class="header1">
						
						</div>                                
					</div> <!-- item -->
					<div class="item">
					    <div class="header2">
											
						</div>						
					</div> <!-- item -->
					<div class="item">
					    <div class="header3">						
						
						</div>						
					</div> <!-- item -->		
											
					
				</div> <!-- items -->
			</div> <!-- scrollable -->
			
			<div style="height: 60px; padding-top: 40px;">
	              <div class="navi"></div> <!-- create automatically the point dor the navigation depending on the numbers of items -->		   
			</div>  
                <div style="clear: both"></div>	
	</div>
   
</div>

<!-- content begins --> 

  <div id="content">
            
			<div class="container">
				<div class="col-1">
					<h2><em><b>Latest News</b></em></h2>
					<div class="indent1">
						<ul>
							<li><a href="#">February 15, 2011</a><br />Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. <br /><div class="read"><a href="#">read more</a></div></li>
							<li><a href="#">January 31, 2011</a><br />Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi archi- tecto beatae vitae dicta.<br />
							<div class="read"><a href="#">read more</a></div></li>
							<li><a href="#">January 22, 2011</a><br />Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia.<br />
							<div class="read"><a href="#">read more</a></div></li>
							<li><a href="#">January 13, 2011</a><br />Feque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non.<br />
							<div class="read"><a href="#">read more</a></div></li>
						</ul>						
					</div>
					<div class="banner"><a href="#"><img src="images/banner.jpg" alt="" /></a></div>
				</div>
				<div class="col-2">
					<div class="indent2">
						<div class="indent3">
							<h2>Welcome to Our Website!</h2>
							<p>Aliquam tellus mi, scelerisque sed egestas vel, tincidunt eu ligula. Phasellus ut neque sed ligula egestas aliquam. Suspendisse at purus non nisi porttitor consequat. Nunc ultrices cursus fermentum. Quisque sollicitudin velit urna, sed lacinia tellus.</p>
							<p>Phasellus semper metus non eros consectetur posuere. Sed venenatis, nisi quis ultrices tincidunt, lectus arcu feugiat massa, id condimentum sapien nulla eu eros. Etiam nec orci vitae augue porta aliquam eu at libero. Integer ut ultrices diam. </p>
							<p>Nam quis magna a enim faucibus dignissim. Fusce a nulla ac turpis auctor commodo et nec sapien. Vivamus sed euismod nibh. Nulla et sollicitudin justo.</p>
						</div>
						<h2>Recent Articles</h2>
					</div>
					<div class="wrapper">
						<div class="col-1">
							<div class="box">
								<div class="border-top">
									<div class="border-right">
										<div class="border-bot">
											<div class="border-left">
												<div class="left-top-corner">
													<div class="right-top-corner">
														<div class="right-bot-corner">
															<div class="left-bot-corner">
																<div class="inner">																	
																	<h3>Company News</h3>
																	<div class="img-indent"><img src="images/img1.jpg" alt="" /></div>
																	<p class="p0">Nam quis magna a enim faucibus dignissim. Fusce a nulla ac turpis auctor commodo et nec sapien. Vivamus sed euismod nibh. Nulla et sollicitudin justo.</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-2">
							<div class="box">
								<div class="border-top">
									<div class="border-right">
										<div class="border-bot">
											<div class="border-left">
												<div class="left-top-corner">
													<div class="right-top-corner">
														<div class="right-bot-corner">
															<div class="left-bot-corner">
																<div class="inner">																	
																	<h3>About Company</h3>
																	<div class="img-indent"><img src="images/img2.jpg" alt="" /></div>
																	<p class="p0">Nam quis magna a enim faucibus dignissim. Fusce a nulla ac turpis auctor commodo et nec sapien. Vivamus sed euismod nibh. Nulla et sollicitudin justo.</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-3">
							<div class="box">
								<div class="border-top">
									<div class="border-right">
										<div class="border-bot">
											<div class="border-left">
												<div class="left-top-corner">
													<div class="right-top-corner">
														<div class="right-bot-corner">
															<div class="left-bot-corner">
																<div class="inner">																	
																	<h3>Long-Term Projection</h3>
																	<div class="img-indent"><img src="images/img3.jpg" alt="" /></div>
																	<p class="p0">Nam quis magna a enim faucibus dignissim. Fusce a nulla ac turpis auctor commodo et nec sapien. Vivamus sed euismod nibh. Nulla et sollicitudin justo.</p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
             
        	<div style="clear: both; height: 12px;"></div>                  
  </div>
        <!-- content ends -->

<!-- bottom end --> 
<!-- footer begins -->
            <div id="footer">
          Copyright  2011. <!-- Do not remove -->Designed by <a href="http://www.metamorphozis.com/free_templates/free_templates.php" title="Free Web Templates">Free Web Templates</a>, coded by <a href="http://www.myfreecsstemplates.com/" title="Free CSS Templates">Free CSS Templates</a><!-- end --><br />
                <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></div>
        <!-- footer ends -->
</div>




</div>
</body>
</html>
