/*
Author: TemplateAccess.com (DT/TS)
*/
@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#3d3d3d url(images/body_bg.gif) top center repeat-x;}
html { padding:0; margin:0;}

.main { margin:0 auto; width:940px; padding:0 30px; border:1px solid #f3f3f3;  background:#f3f3f3 url(images/main_bg.gif) top center repeat-x;}
/********** header **********/
.header {  padding:0; margin:0 auto; width:980px;}
/* logo */
.logo {padding:0; margin:0; width:335px; float:left;}
/* rss */
.rss { text-align:right; width:215px; margin:0; padding:10px 10px 10px 0; float:left; font: normal 11px Arial, Helvetica, sans-serif; color:#7e7e7e; line-height:1.8em;}
.rss_img { float:left; margin:0; padding:20px 0 0 0;}
.rss_img img { margin:5px; padding:0;}
/*menu*/
.menu { padding:0; margin:0; float:right; width:530px;}
.menu ul { text-align: left;  padding:15px 0 0 0; margin:0; list-style:none; border:0; float:right;}
.menu ul li { float:left; margin:0; padding:13px 5px; border:0; }
.menu ul li a { float:left; margin:0; padding:13px 0 13px 0; color:#3d3d3d; font:bold 13px "Trebuchet MS", Arial, Helvetica, sans-serif; text-decoration:none; }
.menu ul li a span { padding:13px 10px; background:none; }
.menu ul li a:hover { color:#fff; background: url(images/r_menu.gif) no-repeat right; }
.menu ul li a:hover span {color:#fff; background:url(images/l_menu.gif) no-repeat left; }
.menu ul li a.active { color:#fff;  background:url(images/r_menu.gif) no-repeat right; }
.menu ul li a.active span { color:#fff; background:url(images/l_menu.gif) no-repeat left; }
/* search */
.search { padding:15px 0 0 0; margin:0; width:230px; float:right;}
.search form { display:block; float:right; padding:0;}
.search span { display:block; float:left; background: url(images/search_bg.gif) left top no-repeat; width:171px; padding:0; height:32px;}
.search form .keywords { width:179px; line-height:14px;  float:left; background:none; border:0; padding:8px 2px 0 10px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#d7d7d7;}
.search form .button { float:left; margin:0; padding:0;}
/* FBG */
.FBG {  padding:0; margin:0;}
.FBG_resize { width:940px; margin:0 auto; padding:0;}
.FBG_resize img { float:left; margin:0; padding:0;}
.FBG_resize a { color:#fff; text-decoration:none; }
.FBG_resize h2 { font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#bdbdbd; padding:10px 0; margin:0;}
.FBG_resize p {font: normal 11px Arial, Helvetica, sans-serif; color:#919191; padding:5px 0; margin:0; line-height:1.8em;}
.FBG_resize ul { padding:0; margin:0; list-style:none;}
.FBG_resize li { padding:5px 0; margin:0;  border-bottom:1px solid #404040; }
.FBG_resize li a { font: normal 11px Arial, Helvetica, sans-serif; color:#919191; padding:5px 0 5px 15px; background: url(images/ul_li.gif) left no-repeat; margin:0;text-decoration:none;}
.FBG_resize li a:hover { color:#fff; text-decoration:none;}
.FBG_resize .blog { width:220px; float:left; margin:0; padding:20px 20px 20px 0;}
.FBG_resize .blog.last { padding:20px 0;}
/* body */
.body_resize { width:940px; margin:0 auto; padding:20px 0 0 0;}
.body { padding:0; margin:0 auto;}
.body h2 { font: normal 20px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#515151; padding:10px 0; margin:0 0 10px 0; border-bottom:1px solid #c7c7c7;}
.body h2 span { font: normal 11px Arial, Helvetica, sans-serif; color:#b1b1b1; padding:0; margin:0;}
.body h3 { color:#4f4f4f; font: bold 24px "Trebuchet MS", Arial, Helvetica, sans-serif; border-bottom:1px solid #dbdbdb; padding:15px 0 15px 20px; margin:0; }
.body .menu2 { width:170px; float:right; padding:0; margin:0;}
.body .menu2 a { font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#5d5d5d; text-decoration:none; padding:0 3px;}
.body .menu2 a:hover { color:#fff; background:#363636;}
.body p { font:normal 11px Arial, Helvetica, sans-serif; color:#979797; line-height:1.8em; padding:10px 0; margin:0;}
.body p span { font-size:18px; font-weight:bold; color:#888;}
.body a { color:#2c97ae; text-decoration:none;}
.body img { margin:5px auto; padding:0;}
.body img.portt { margin:0; padding:0 0 14px 0; background: url(images/img_bg.gif) bottom center no-repeat;}
.body img.floated { float:left; margin:10px 20px 10px 0;}
.right { width:310px; margin:0; padding:10px 0; float:right;}
.left { width:593px; margin:0; padding:10px 0; float:left;}
.port { width:225px; margin:10px 0; padding:0 13px 0 0; float:left;}
.last { padding:0;}
/********** contact form **********/
#contactform { margin:0; padding:5px 0; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:5px 0 5px 0; clear:both; }
#contactform label { margin:0; width:400px; display:block; padding:10px 0; color:#5c5c5c; font: normal 11px Arial, Helvetica, sans-serif;  float:left; }
#contactform label span { color:#d66423; font-weight:bold; }
#contactform input.text { width:450px; border:1px solid #d4d4d4; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:left; }
#contactform textarea { width:450px; border:1px solid #d4d4d4; margin:2px 0; padding:2px; background:#fff; float:left; }
#contactform li.buttons input { padding:3px 0 3px 0; margin:10px 0 0 0; border:0; color:#FFF; float:left; }
/*************footer**********/
.footer {padding:0; margin:0 auto;}
.footer_resize { width:1000px; margin:0 auto; padding:0; border-top:1px solid #4f4f4f;}
.footer p { font:normal 12px  Arial, Helvetica, sans-serif; color:#979797;}
.footer a { font:bold 12px Arial, Helvetica, sans-serif; color:#979797; text-decoration:none; }
.footer p.right { text-align:right; width:350px; margin:0; padding:20px 0; float:right;} 
.footer p.leftt { text-align:left; width:550px; margin:0; padding:20px 0; float:left;}

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
.bg { clear:both; padding:5px 0; margin:0; border-bottom:1px solid #ededed;}
/* Slider */
#slider { width:940px; padding:30px 0 0 0; margin:0 auto; border-top:1px solid #ccc; }
#slider .flash_slider { width:940px; height:300px; margin:0; overflow:hidden;}
.slide_blog_resize { background:#414141 url(images/fbg_bg.gif) top repeat-x; border-bottom:1px solid #484848; padding:20px 20px 10px 20px; margin:0;}
.slide_blog { width:285px; float:left; padding:5px 10px 5px 5px;}
.slide_blog img { float:left; margin:0; padding:10px 10px 30px 0;}
.slide_blog h3 { font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fff; padding:10px 0; margin:0; border:0;}
.slide_blog_resize  h4 { font: normal 30px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#fafafa; padding:20px 0 20px 20px; margin:0;}
.slide_blog p { font: normal 11px Arial, Helvetica, sans-serif; color:#fff; padding:0; margin:0; line-height:1.8em;}