<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>TemplateAccess.com Theme</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<!-- Cufon -->
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/myradpro.font.js"></script>
<script type="text/javascript">
Cufon.replace('h1')('h2')('h3')('h4');
</script>
</head>
<body>
<div class="main2">
  <div class="header">
    <div class="logo"><a href="index.html"><img src="images/logo.png" width="239" height="116" border="0" alt="logo" /></a></div>
    <div class="menu">
      <ul>
        <li><a href="index.html"><span>Home</span></a></li>
        <li><a href="services.html"><span> Services </span></a></li>
        <li><a href="services.html"><span> Portfolio</span></a></li>
        <li><a href="about.html" class="active"><span> About Us</span></a></li>
        <li><a href="contact.html"><span> Contact Us</span></a></li>
      </ul>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="slide_blog_resize">
    <div class="slide_blog_resize_b">
      <h4>About Us</h4>
      <div class="search">
        <form id="form1" name="form1" method="post" action="">
          <span>
          <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
          </span>
          <input name="b" type="image" src="images/search.gif" class="button" />
        </form>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="body">
    <div class="body_resize">
      <div class="clr"></div>
      <div class="left">
        <h2>About Our Company</h2>
        <img src="images/about_1.jpg" alt="picture" width="616" height="163" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. Etiam fermentum suscipit est vel aliquet. Quisque malesuada luctus dignissim bibendum a lobortis mauris placerat. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.</p>
        <p class="about"><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</strong></p>
      </div>
      <div class="right">
        <h2>More About Us</h2>
        <ul>
          <li><a href="#">Overview</a></li>
          <li><a href="#">Vision and Mission</a></li>
          <li><a href="#">Management Team</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <p>&nbsp;</p>
        <h2>Recent From The Blog</h2>
        <img src="images/img_3.jpg" alt="picture" width="68" height="68" class="floated"  />
        <p><strong>Beautiful and Creative <br />
          Typography Designs to Inspire You</strong><br />
          <a href="#">by admin. on Apr. 12th, 201022</a></p>
        <p>Lorem ipsum dolor slit, sed do eiusmod polu gu tempor incidid. Ut ad veniam, polu g magna aliqua. Ut enim ad tempor incidid tempor incidid ut ad.<br />
          Lorem ipsum dolor sit amet, consectet polumur adipisicing elit, sed do eiusmod polu gu tempor incididunt ut labsum dolor sit amet.</p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="84" height="26" border="0" class="none" /></a> </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<div class="FBG">
  <div class="FBG_resize">
    <div class="blog">
      <h2>Recent Post<span></span></h2>
      <div class="clr"></div>
      <ul>
        <li><a href="#">Full standards compliance</a></li>
        <li><a href="#">All of Videos Supported</a></li>
        <li><a href="#">Spam protection</a></li>
        <li><a href="#">Video Support!</a></li>
        <li><a href="#">We have gone!</a></li>
        <li><a href="#">Dummy Photo</a></li>
      </ul>
    </div>
    <div class="blog">
      <h2>Blogroll</h2>
      <div class="clr"></div>
      <ul>
        <li><a href="#">Development Blog</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Plugins</a></li>
        <li><a href="#">Suggest Ideas</a></li>
        <li><a href="#">Support Forum</a></li>
        <li><a href="#">Themes</a></li>
      </ul>
    </div>
    <div class="blog">
      <h2>Latest News</h2>
      <p><strong>At vero eos et accusamus et iusto </strong><br />
        <a href="#">January 6, 2010</a><br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolore magna aliqua...</p>
      <p><strong>Cras lobortis mauris vel diam </strong><br />
        <a href="#">February 27, 2010</a><br />
        Ut enim ad minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet...</p>
      <div class="clr"></div>
    </div>
    <div class="blog last">
      <h2>Miscelaneous</h2>
      <div class="clr"></div>
      <ul>
        <li><a href="#">Site Admin</a></li>
        <li><a href="#">Log out</a></li>
        <li><a href="#">Entries RSS</a></li>
        <li><a href="#">Comments RSS</a></li>
        <li><a href="#">WordPress.org</a></li>
      </ul>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="footer">
  <div class="footer_resize">
    <p class="leftt">© Copyright <a href="#">Templatesold</a>. All Rights Reserved </p>
    <p class="right"> (TS) <a href="http://www.templatesold.com">Website Templates</a></p>
    <div class="clr"></div>
  </div>
</div>
</body>
</html>