<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>TemplateAccess.com Theme</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<!-- Cufon -->
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/myradpro.font.js"></script>
<script type="text/javascript">
Cufon.replace('h1')('h2')('h3')('h4');
</script>
<!-- flash script -->
<script type="text/javascript" src="js/flash_detect.v1.7.js"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="logo"><a href="index.html"><img src="images/logo.png" width="239" height="116" border="0" alt="logo" /></a></div>
    <div class="menu">
      <ul>
        <li><a href="index.html" class="active"><span>Home</span></a></li>
        <li><a href="services.html"><span> Services </span></a></li>
        <li><a href="services.html"><span> Portfolio</span></a></li>
        <li><a href="about.html"><span> About Us</span></a></li>
        <li><a href="contact.html"><span> Contact Us</span></a></li>
      </ul>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
    <div id="slider">
      <!-- start slideshow -->
    <div class="flash_slider">
    <script language="JavaScript" type="text/javascript">
	AC_FL_RunContent(
		'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0',
		'width', '100%',
		'height', '400',
		'src', 'piecemakerNoShadow',
		'quality', 'high',
		'pluginspage', 'http://www.adobe.com/go/getflashplayer_de',
		'align', 'middle',
		'play', 'true',
		'loop', 'true',
		'scale', 'noscale',
		'wmode', 'transparent',
		'devicefont', 'false',
		'id', 'piecemakerNoShadow',
		'bgcolor', '#ffffff',
		'name', 'piecemakerNoShadow',
		'menu', 'true',
		'allowFullScreen', 'false',
		'allowScriptAccess','sameDomain',
		'movie', 'piecemakerNoShadow',
		'salign', ''
		); //end AC code
</script>
</div>
    <div class="clr"></div>
      <img src="images/slider_bg.png" alt="picture" width="980" height="26" />
      <!-- end #slideshow -->
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="slide_blog_resize">
    <div class="slide_blog_resize_b">
      <div class="slide_blog"> <img src="images/slot_img_1.gif" alt="picture" width="57" height="68" />
        <h3>Website Conception</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. </p>
      </div>
      <div class="slide_blog"><img src="images/slot_img_2.gif" alt="picture" width="57" height="68" />
        <h3>Website Conception</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. </p>
      </div>
      <div class="slide_blog"><img src="images/slot_img_3.gif" alt="picture" width="57" height="68" />
        <h3>Website Conception</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua. </p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="body">
    <div class="body_resize">
      <div class="clr"></div>
      <div class="port">
        <h2>What We Do</h2>
        <img src="images/img_1.jpg" alt="picture" width="276" height="93"  />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nuncnec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. Invarius tincidunt elit vitae eleifend. </p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="84" height="26" border="0" class="none" /></a></div>
      <div class="port">
        <h2>Business Monitoring</h2>
        <img src="images/img_2.jpg" alt="picture" width="276" height="93" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nuncnec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. Invarius tincidunt elit vitae eleifend. </p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="84" height="26" border="0" class="none" /></a> </div>
      <div class="port last">
        <h2>Easy to Customize</h2>
        <img src="images/img_3.jpg" alt="picture" width="68" height="68" class="floated"  />
        <p><strong>Beautiful and Creative <br />
          Typography Designs to Inspire You</strong><br />
          <a href="#">by admin. on Apr. 12th, 201022</a></p>
        <p>Lorem ipsum dolor slit, sed do eiusmod polu gu tempor incidid. Ut ad veniam, polu g magna aliqua. Ut enim ad tempor incidid tempor incidid ut ad.<br />
          Lorem ipsum dolor sit amet, consectet polumur adipisicing elit, sed do eiusmod polu gu tempor incididunt ut labsum dolor sit amet.</p>
        <a href="#"><img src="images/read_more.gif" alt="picture" width="84" height="26" border="0" class="none" /></a> </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<div class="FBG">
  <div class="FBG_resize">
    <div class="blog">
      <h2>Recent Post<span></span></h2>
      <div class="clr"></div>
      <ul>
        <li><a href="#">Full standards compliance</a></li>
        <li><a href="#">All of Videos Supported</a></li>
        <li><a href="#">Spam protection</a></li>
        <li><a href="#">Video Support!</a></li>
        <li><a href="#">We have gone!</a></li>
        <li><a href="#">Dummy Photo</a></li>
      </ul>
    </div>
    <div class="blog">
      <h2>Blogroll</h2>
      <div class="clr"></div>
      <ul>
        <li><a href="#">Development Blog</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Plugins</a></li>
        <li><a href="#">Suggest Ideas</a></li>
        <li><a href="#">Support Forum</a></li>
        <li><a href="#">Themes</a></li>
      </ul>
    </div>
    <div class="blog">
      <h2>Latest News</h2>
      <p><strong>At vero eos et accusamus et iusto </strong><br />
        <a href="#">January 6, 2010</a><br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolore magna aliqua...</p>
      <p><strong>Cras lobortis mauris vel diam </strong><br />
        <a href="#">February 27, 2010</a><br />
        Ut enim ad minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet...</p>
      <div class="clr"></div>
    </div>
    <div class="blog last">
      <h2>Miscelaneous</h2>
      <div class="clr"></div>
      <ul>
        <li><a href="#">Site Admin</a></li>
        <li><a href="#">Log out</a></li>
        <li><a href="#">Entries RSS</a></li>
        <li><a href="#">Comments RSS</a></li>
        <li><a href="#">WordPress.org</a></li>
      </ul>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="footer">
  <div class="footer_resize">
    <p class="leftt">© Copyright <a href="#">Templatesold</a>. All Rights Reserved </p>
    <p class="right"> (TS) <a href="http://www.templatesold.com">Website Templates</a></p>
    <div class="clr"></div>
  </div>
</div>
</body>
</html>