<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>TemplateAccess.com Theme</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<!-- Cufon -->
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/myradpro.font.js"></script>
<script type="text/javascript">
Cufon.replace('h1')('h2')('h3')('h4');
</script>
</head>
<body>
<div class="main2">
  <div class="header">
    <div class="logo"><a href="index.html"><img src="images/logo.png" width="239" height="116" border="0" alt="logo" /></a></div>
    <div class="menu">
      <ul>
        <li><a href="index.html"><span>Home</span></a></li>
        <li><a href="services.html" class="active"><span> Services </span></a></li>
        <li><a href="services.html"><span> Portfolio</span></a></li>
        <li><a href="about.html"><span> About Us</span></a></li>
        <li><a href="contact.html"><span> Contact Us</span></a></li>
      </ul>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="slide_blog_resize">
    <div class="slide_blog_resize_b">
      <h4>Services</h4>
      <div class="search">
        <form id="form1" name="form1" method="post" action="">
          <span>
          <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
          </span>
          <input name="b" type="image" src="images/search.gif" class="button" />
        </form>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="body">
    <div class="body_resize">
      <div class="clr"></div>
      <div class="left">
        <h2>What We Can Do</h2>
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. Etiam fermentum suscipit est vel aliquet. Quisque malesuada luctus dignissim bibendum a lobortis mauris placerat. </p>
        <div class="port"> <img src="images/serv_1.gif" alt="picture" width="66" height="66" class="none" />
          <h4>Web Designing </h4>
          <p>Vestibulum sit amet neque eu neque suscipit consequat quis vel risus. Vestibulum vehicula purus nec dui accumsan fermentum. </p>
        </div>
        <div class="port last"> <img src="images/serv_2.gif" alt="picture" width="66" height="66" class="none" />
          <h4>Web Designing </h4>
          <p>Vestibulum sit amet neque eu neque suscipit consequat quis vel risus. Vestibulum vehicula purus nec dui accumsan fermentum. </p>
        </div>
        <div class="port"> <img src="images/serv_3.gif" alt="picture" width="66" height="66" class="none" />
          <h4>Web Designing </h4>
          <p>Vestibulum sit amet neque eu neque suscipit consequat quis vel risus. Vestibulum vehicula purus nec dui accumsan fermentum. </p>
        </div>
        <div class="port last"> <img src="images/serv_4.gif" alt="picture" width="66" height="66" class="none" />
          <h4>Web Designing </h4>
          <p>Vestibulum sit amet neque eu neque suscipit consequat quis vel risus. Vestibulum vehicula purus nec dui accumsan fermentum. </p>
        </div>
        <div class="clr"></div>
        <h2>More Information</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nunc nec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. In varius tincidunt elit vitae eleifend. Etiam fermentum suscipit est vel aliquet. Quisque malesuada luctus dignissim bibendum a lobortis mauris placerat. <br />
          Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.<br />
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <div class="right">
        <h2>More About Us</h2>
        <ul>
          <li><a href="#">Overview</a></li>
          <li><a href="#">Vision and Mission</a></li>
          <li><a href="#">Management Team</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <p>&nbsp;</p>
        <h2>Testimonials</h2>
        <p><em>“Lorem ipsum dolor slit, sed do eiusmod polu gu tempor incidid. Ut ad veniam, polu g magna aliqua. Ut enim ad tempor incidid tempor incidid ut ad.
          Lorem ipsum dolor sit amet, consectet polumur adipisicing elit, sed do eiusmod polu gu tempor incididunt ut labsum dolor sit amet.”</em></p>
        <p><strong>John Doe, <br />
          Creative Director of Website.com</strong></p>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<div class="FBG">
  <div class="FBG_resize">
    <div class="blog">
      <h2>Recent Post<span></span></h2>
      <div class="clr"></div>
      <ul>
        <li><a href="#">Full standards compliance</a></li>
        <li><a href="#">All of Videos Supported</a></li>
        <li><a href="#">Spam protection</a></li>
        <li><a href="#">Video Support!</a></li>
        <li><a href="#">We have gone!</a></li>
        <li><a href="#">Dummy Photo</a></li>
      </ul>
    </div>
    <div class="blog">
      <h2>Blogroll</h2>
      <div class="clr"></div>
      <ul>
        <li><a href="#">Development Blog</a></li>
        <li><a href="#">Documentation</a></li>
        <li><a href="#">Plugins</a></li>
        <li><a href="#">Suggest Ideas</a></li>
        <li><a href="#">Support Forum</a></li>
        <li><a href="#">Themes</a></li>
      </ul>
    </div>
    <div class="blog">
      <h2>Latest News</h2>
      <p><strong>At vero eos et accusamus et iusto </strong><br />
        <a href="#">January 6, 2010</a><br />
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolore magna aliqua...</p>
      <p><strong>Cras lobortis mauris vel diam </strong><br />
        <a href="#">February 27, 2010</a><br />
        Ut enim ad minim veniam, quis nostrud exercitation Lorem ipsum dolor sit amet...</p>
      <div class="clr"></div>
    </div>
    <div class="blog last">
      <h2>Miscelaneous</h2>
      <div class="clr"></div>
      <ul>
        <li><a href="#">Site Admin</a></li>
        <li><a href="#">Log out</a></li>
        <li><a href="#">Entries RSS</a></li>
        <li><a href="#">Comments RSS</a></li>
        <li><a href="#">WordPress.org</a></li>
      </ul>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="footer">
  <div class="footer_resize">
    <p class="leftt">© Copyright <a href="#">Templatesold</a>. All Rights Reserved </p>
    <p class="right"> (TS) <a href="http://www.templatesold.com">Website Templates</a></p>
    <div class="clr"></div>
  </div>
</div>
</body>
</html>