<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>services</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="header2">
    <div class="logo"><a href="index.html"><img src="images/logo.gif" width="493" height="59" border="0" alt="logo" /></a></div>
    <div class="search">
      <form id="form1" name="form1" method="post" action="">
        <label>
          <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
          <input name="b" type="image" src="images/search.gif" class="button" />
        </label>
      </form>
    </div>
    <div class="clr"></div>
    <div class="header_text2">
      <h2>Our Services</h2>
      <p>Lorem Ipsum as their default model text, and a search for lorem ipsum will uncover<br />
        many web sites still in their infancy.</p>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
    <div class="menu">
      <ul>
        <li><a href="index.html" >HOME</a></li>
        <li><a href="portfolio.html" >PORTFOLIO</a></li>
        <li><a href="services.html">ABOUT</a></li>
        <li><a href="services.html" class="active"> SERVICES</a></li>
        <li><a href="contact.html">CONTACTS</a></li>
      </ul>
      <div class="clr"></div>
    </div>
    <div class="Twitter"><img src="images/twitter.gif" alt="picture" width="43" height="30" />
      <p> <a href="#">follow me</a></p>
    </div>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
  <div class="body">
    <div class="sub_left">
      <p><strong>Simply dummy text of the printing and typesetting industry.</strong></p>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer.Simply dummy text of the printing and typesetting industry. <a href="#">Lorem Ipsum has been the industry's</a> standard dummy text ever since thes, when an unknown printer.Simply dummy text of the printing and typesetting industry. </p>
      <p></p>
      <img src="images/serv_4.jpg" alt="picture" width="113" height="113" />
      <h4>Featured Services #1</h4>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer. Simply dummy tex. Lorem Ipsum has been the industry's.</p>
      <p><a href="#" class="back"><strong>order now</strong></a></p>
      <div class="clr"></div>
      <img src="images/serv_3.jpg" alt="picture" width="113" height="113" />
      <h4>Featured Services #2</h4>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer. Simply dummy tex. Lorem Ipsum has been the industry's.</p>
      <p><a href="#" class="back"><strong>order now</strong></a></p>
      <div class="clr"></div>
      <img src="images/serv_2.jpg" alt="picture" width="113" height="113" />
      <h4>Featured Services #3</h4>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer. Simply dummy tex. Lorem Ipsum has been the industry's.</p>
      <p><a href="#" class="back"><strong>order now</strong></a></p>
      <div class="clr"></div>
      <img src="images/serv_1.jpg" alt="picture" width="113" height="113" />
      <h4>Featured Services #4</h4>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer. Simply dummy tex. Lorem Ipsum has been the industry's.</p>
      <p><a href="#" class="back"><strong>order now</strong></a></p>
      <div class="clr"></div>
    </div>
    <div class="sub_right">
      <h4>Sub Navigation</h4>
      <p><a href="#" class="back">Overview</a></p>
      <p><a href="#" class="back">What we offer</a></p>
      <p><a href="#" class="back">Products List</a></p>
      <p><a href="#" class="back">Project Management</a></p>
      <p><a href="#" class="back">Affiliation</a></p>
      <p><a href="#" class="back">Development</a></p>
      <p><a href="#" class="back">Designing Services</a></p>
    </div>
    <div class="clr"></div>
  </div>
  <div class="footer">
    <ul>
      <li><a href="index.html">home</a></li>
      <li><a href="services.html">services</a></li>
      <li><a href="portfolio.html">portfolio</a></li>
      <li><a href="services.html">about</a></li>
      <li><a href="contact.html">contact</a></li>
      <li><a href="portfolio.html">rss feed</a></li>
    </ul>
    <p>Copyright © Sitename.com. <a href="http://dreamtemplate.com/">dreamtemplate.com</a>. All Rights Reserved</p>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>
</body>
</html>