<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>TemplateAccess.com Theme</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<!-- Cufon -->
<script type="text/javascript" src="js/cufon-yui.js"></script>
<script type="text/javascript" src="js/myradpro.font.js"></script>
<script type="text/javascript">
Cufon.replace('h1')('h2')('h3')('h4')('div.menu li');
</script>
<!-- flash script -->
<script type="text/javascript" src="js/flash_detect.v1.7.js"></script>
</head>
<body>
<div class="main">
  <div class="header">
    <div class="rss_img">
      <p>Follow us on the social network</p>
      <img src="images/rss_4.gif" alt="picture" width="16" height="16" class="floated" /> <img src="images/rss_3.gif" alt="picture" width="16" height="16" class="floated" /> <img src="images/rss_2.gif" alt="picture" width="16" height="16" class="floated" /> <img src="images/rss_1.gif" alt="picture" width="16" height="16" class="floated" /> </div>
    <div class="search">
      <form id="form1" name="form1" method="post" action="">
        <span>
        <input name="q" type="text" class="keywords" id="textfield" maxlength="50" value="Search..." />
        </span>
        <input name="b" type="image" src="images/search.gif" class="button" />
      </form>
    </div>
    <div class="clr"></div>
    <div class="logo"><a href="index.html"><img src="images/logo.png" width="202" height="78" border="0" alt="logo" /></a></div>
    <div class="menu">
      <ul>
        <li><a href="index.html" class="active"><span>Home</span></a></li>
        <li><a href="portfolio.html"><span> Services </span></a></li>
        <li><a href="portfolio.html"><span> Portfolio</span></a></li>
        <li><a href="about.html"><span> About Us</span></a></li>
        <li><a href="contact.html"><span> Contact Us</span></a></li>
      </ul>
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
    <div id="slider">
      <!-- start slideshow -->
          <div class="flash_slider">
    <script language="JavaScript" type="text/javascript">
	AC_FL_RunContent(
		'codebase', 'http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=10,0,0,0',
		'width', '100%',
		'height', '401',
		'src', 'piecemakerNoShadow',
		'quality', 'high',
		'pluginspage', 'http://www.adobe.com/go/getflashplayer_de',
		'align', 'middle',
		'play', 'true',
		'loop', 'true',
		'scale', 'noscale',
		'wmode', 'transparent',
		'devicefont', 'false',
		'id', 'piecemakerNoShadow',
		'bgcolor', '#ffffff',
		'name', 'piecemakerNoShadow',
		'menu', 'true',
		'allowFullScreen', 'false',
		'allowScriptAccess','sameDomain',
		'movie', 'piecemakerNoShadow',
		'salign', ''
		); //end AC code
</script>
</div>
      <!-- end #slideshow -->
      
      <div class="clr"></div>
    </div>
    <div class="clr"></div>
  </div>
  <div class="click_blog_bg">
    <div class="click_blog">
      <p>Aliquam ac pretium lectus. Quisque non ante id eros accumsan iaculis quis a velit. Donec quam purus, malesuada quis .<br />
        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </span></p>
      <div class="clr"></div>
    </div>
  </div>
  <div class="body">
    <div class="body_resize"><img src="images/body_bg_bottom.gif" alt="picture" width="960" height="32" />
      <div class="clr"></div>
      <div class="port">
        <h2>Lipsum dolore<br />
          <span> Lorem ipsum dolor slit, sed do eiusmod polu </span> </h2>
        <img src="images/img_1.jpg" alt="picture" width="288" height="95"  />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nuncnec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. Invarius tincidunt elit vitae eleifend. </p>
        <p><a href="#">more</a></p>
      </div>
      <div class="port">
        <h2>About our site<br />
          <span> Lorem ipsum dolor slit, sed do eiusmod polu </span> </h2>
        <img src="images/img_2.jpg" alt="picture" width="288" height="95" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nuncnec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. Invarius tincidunt elit vitae eleifend. </p>
        <p><a href="#">more</a></p>
      </div>
      <div class="port last">
        <h2>Cross browser HTML<br />
          <span> Lorem ipsum dolor slit, sed do eiusmod polu </span> </h2>
        <img src="images/img_3.jpg" alt="picture" width="288" height="95" />
        <div class="clr"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tristique sem. Nuncnec ipsum sed nisi dictum mollis. Praesent malesuada mauris a odio adipiscing mollis. Invarius tincidunt elit vitae eleifend. </p>
        <p><a href="#">more</a></p>
      </div>
      <img src="images/body_bg_bottom.gif" alt="picture" width="960" height="32" />
      <div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>
</div>
<div class="FBG">
  <div class="FBG_resize">
    <div class="blog">
      <h2>What They Say</h2>
      <p> <img src="images/test.gif" alt="picture" width="21" height="17" />&quot;Quis autem vel eum iure reprehenderit <br />
        qui in ea voluptate velit esse voluptas nulla pariatur?&quot;<br />
        by: <a href="#"><strong>John</strong></a> S., webdesigner </p>
    </div>
    <div class="blog">
      <h2>Tweets</h2>
      <p>Lorem ipsum dolor sit amet<br />
        <a href="#">May 15th, 2015</a><br />
        Lorem ipsum dolor sit amet<br />
        <a href="#">May 11th, 2015</a><br />
        Lorem ipsum dolor sit amet<br />
        <a href="#">May 10th, 2015</a></p>
    </div>
    <div class="blog">
      <h2>Our Services</h2>
      <p><strong>Web Design</strong><br />
        Concept designs to XHTML/CSS.<br />
        <strong>Identity</strong><br />
        Logos designs to Business Cards.<br />
        <strong>Graphics</strong><br />
        Photos to Poster Designs</p>
    </div>
    <div class="blog last">
      <h2>Contact</h2>
      <p>+1 215.676.7876<br />
        <a href="#">contact@mycompany.com</a><br />
        123 Pine Street<br />
        Mycity, ST 19000</p>
    </div>
    <div class="clr"></div>
  </div>
</div>
<div class="footer">
  <div class="footer_resize">
    <p class="leftt">© Copyright <a href="#">Templatesold</a>. All Rights Reserved </p>
    <p class="right"> (TS) <a href="http://www.templatesold.com">Website Templates</a></p>
    <div class="clr"></div>
  </div>
</div>
</body>
</html>