<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>portfolio</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="header">
    <div class="logo"><a href="index.html"><img src="images/logo.gif" width="461" height="187" border="0" alt="logo" /></a></div>
    <div class="menu">
      <ul>
        <li><a href="index.html"><span>Home</span></a></li>
        <li><a href="services.html"  class="active"><span>Services</span></a></li>
        <li><a href="portfolio.html"><span>Portfolio</span></a></li>
        <li><a href="contact.html"><span>About Us</span></a></li>
        <li><a href="contact.html"><span>Contact Us</span></a></li>
      </ul>
    </div>
  </div>
  <div class="clr"></div>
  <div class="block_header2">
    <h2>Our Services</h2>
    <p>Dummy text of the printing and typesetting industry.</p>
  </div>
  <div class="clr"></div>
  
  <div class="body">
    <div class="body_big">
       <p><span>Simply dummy text of the printing and typesetting industry.</span></p>
      <p>Lorem Ipsum has been the industry's standard dummy text ever since thes, when an unknown printer.Simply dummy text of the printing and typesetting industry.<a href="#"> Lorem Ipsum has been the industry's</a> standard dummy text ever since thes, when an unknown printer.Simply dummy text of the printing and typesetting industry. </p>
      <p>&nbsp;</p>
<img src="images/serv_1.jpg" alt="picture" width="106" height="106" />
<h4>Service One</h4>
<p class="greey">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point r-less normal distributiof letters, as opposed to using 'Content here, content here'. The point r-less normal distributiof letters, as opposed to making it look like readable English. Many desktop publishing.</p>
<p><a href="#"><img src="images/read_more.gif" alt="picture" width="90" height="20" border="0" /></a></p>
    <div class="bg"></div>
    <img src="images/serv_2.jpg" alt="picture" width="106" height="106" />
<h4>Service Two</h4>
<p class="greey">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point r-less normal distributiof letters, as opposed to using 'Content here, content here'. The point r-less normal distributiof letters, as opposed to making it look like readable English. Many desktop publishing.</p>
<p><a href="#"><img src="images/read_more.gif" alt="picture" width="90" height="20" border="0" /></a></p>
    <div class="bg"></div>
    <img src="images/serv_3.jpg" alt="picture" width="106" height="106" />
<h4>Service Three</h4>
<p class="greey">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point r-less normal distributiof letters, as opposed to using 'Content here, content here'. The point r-less normal distributiof letters, as opposed to making it look like readable English. Many desktop publishing.</p>
<p><a href="#"><img src="images/read_more.gif" alt="picture" width="90" height="20" border="0" /></a></p>
<p>&nbsp;</p>
    </div>
    <div class="body_small">
   <h2>Submenu</h2>
   <ul>
     <li>» <a href="#">Been the industry's standard dummy.</a></li>
     <li>» <a href="#">Simply dummy text orem.</a></li>
     <li>» <a href="#">Undustry's standard dummy text.</a></li>
     <li>» <a href="#">Been the industry's stan.</a></li>
     <li>» <a href="#">Undustry's standard dum.</a></li>
     <li>» <a href="#">Simply dummy text orem.</a></li>
     <li>» <a href="#">Been the industry's standard dum.</a><br />
     </li>
   </ul>
    </div>
    <div class="body_small">
   <h2>Testimonials</h2>
   <p><em>“Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the. industry's standard dummy”</em></p>
   <p><a href="#" style="float:right;"><strong>-Jhon Jhohonson, web designer</strong></a></p>
    </div>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
  </div>
<div class="footer">
<div class="footer_resize">
  <ul>
    <li><a href="index.html">home</a></li>
    <li><a href="services.html">services</a></li>
    <li><a href="portfolio.html">portfolio</a></li>
    <li><a href="services.html">about</a></li>
    <li><a href="contact.html">contact</a></li>
    <li><a href="portfolio.html">rss feed</a></li>
    <li><a href="#"><img src="images/twitter.gif" alt="picture" width="80" height="15" border="0" /></a></li>
  </ul>
  <p>Copyright © Sitename.com. <a href="http://dreamtemplate.com/">dreamtemplate.com</a>. All Rights Reserved</p>
  <div class="clr"></div>
  </div>
</div>
</body>
</html>