/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
}

p {
	line-height: 16px;
	font: 14px Georgia, Times New Roman, Times, serif;
	color:#5F5F5F;
}

img {
	border: none;
}

.flt  {
	float: left;
	display:inline;
}

.top_abo {
	font:10px Arial, Helvetica, sans-serif;
	color:#060700;
	text-decoration:none;
	margin:56px 0px 0px 167px;
}	

.topMenu a {
	padding: 10px; 
	font:10px Arial, Helvetica, sans-serif;
	color:#060700;
	text-decoration:none;
}

.topMenu a:hover {
	text-decoration: underline; 
}

.left h2 {
	text-align: center; 
	font:bold italic 20px Georgia, Times New Roman, Times, serif;
	color:#36382A;
	margin-top: 20px;
}

.lef_you {
	font:12px/14px Georgia, Times New Roman, Times, serif;
	color:#5F5F5F;
	width:265px;
	margin: 10px 0px 0px 30px;
	position:relative;
}	

.lef_on {
	text-decoration:none;
	font:12px/14px Georgia, Times New Roman, Times, serif;
	color:#BD2E12;
}	

.lef_bul {
	margin:29px 0px 0px 39px;
}	

.lef_ban {
	font:12px Georgia, Times New Roman, Times, serif;
	color:#36382A;
	text-decoration:none;
	margin:24px 0px 0px 10px;
}	

.lef_bu {
	clear:left;
	margin:12px 0px 0px 39px;
}	

.lef_ba {
	font:12px Georgia, Times New Roman, Times, serif;
	color:#36382A;
	width:200px;
	text-decoration:none;
	margin:7px 0px 0px 10px;
}	
.lef_log {
	background:url(../images/lef_log.jpg) no-repeat;
	width:273px;
	height:145px;
	margin:23px 0px 0px 24px;
}	

.lef_mem {
	font:bold italic 20px Georgia, Times New Roman, Times, serif;
	color:#FFFFFF;
	margin:24px 0px 0px 22px;
}	

.lef_ema {
	font:12px Georgia, Times New Roman, Times, serif;
	color:#FFFFFF;
	clear:left;
	margin:19px 0px 0px 24px;
}		

.lef_txt
{
	width:111px;
	border:1px solid #E6A76F;
	height:15px;
	font:12px Georgia, Times New Roman, Times, serif;
	margin:17px 0px 0px 10px;
}	
.lef_pas
{
	font:12px Georgia, Times New Roman, Times, serif;
	color:#FFFFFF;
	clear:left;
	margin:6px 0px 0px 24px;
}	
.lef_txt1
{
	width:111px;
	border:1px solid #E6A76F;
	height:15px;
	margin:5px 0px 0px 6px;
}
.lef_but
{
	margin:3px 0px 0px 8px;
}
.lef_cli
{
	font:bold italic 20px Georgia, Times New Roman, Times, serif;
	color:#251E23;
	margin:20px 0px 0px 40px;
}	
.lef_yo
{
	font:12px/14px Georgia, Times New Roman, Times, serif;
	color:#251E23;
	clear:left;
	width:250px;
	margin:12px 0px 0px 44px;
}	
.lef_john
{
	font:12px Georgia, Times New Roman, Times, serif;
	color:#251E23;
	clear:left;
	width:100px;
	margin:7px 0px 0px 187px;
	padding-bottom:10px;
}	
.cnt_bg
{
	background:#1B252E url(../images/cnt_bg.jpg) repeat-x;
	width:687px;
	padding-bottom:20px;
}	
.cnt_our
{
	font:bold italic 24px Georgia, Times New Roman, Times, serif;
	color:#FFFFFF;
	margin:35px 0px 0px 38px;
}
.cnt_we
{
	font:12px/15px Georgia, Times New Roman, Times, serif;
	color:#FFFFFF;
	clear:left;
	width:605px;
	margin:14px 0px 0px 40px;
}	
.cnt_read
{
	clear:left;
	margin:10px 0px 0px 39px;
}	
.cnt_line
{
	margin:10px 0px 0px 40px;
}
.cnt_tra
{
	font:bold italic 24px Georgia, Times New Roman, Times, serif;
	color:#FFFFFF;
	margin:14px 0px 0px 38px;
}
.cnt_img
{
	margin:35px 0px 0px 0px;
}	
.cnt_you
{
	font:12px/15px Georgia, Times New Roman, Times, serif;
	color:#FFFFFF;
	width:440px;
	margin:18px 0px 0px 30px;
}	
.cnt_bul
{
	margin:20px 0px 0px 34px;
}
.cnt_ban	
{
	font:12px Georgia, Times New Roman, Times, serif;
	color:#FFFFFF;
	width:150px;
	margin:15px 0px 0px 10px;
}	
.cnt_bu
{
	clear:left;
	margin:12px 0px 0px 34px;
}
.cnt_ba	
{
	font:12px Georgia, Times New Roman, Times, serif;
	color:#FFFFFF;
	width:250px;
	margin:7px 0px 0px 10px;
}	
.cnt_may
{	
	font:12px Georgia, Times New Roman, Times, serif;
	color:#FFFFFF;
	width:405px;
	margin:12px 0px 0px 30px;
}	
.cnt_rea
{
	margin:15px 0px 0px 30px;
}	
.fo_our
{
	font:11px Georgia, Times New Roman, Times, serif;
	color:#F7EADE;
	margin:30px 0px 0px 98px;
}	
.fo_home
{
	font:11px Georgia, Times New Roman, Times, serif;
	color:#F7EADE;
	text-decoration:none;
	margin:30px 0px 0px 177px;
}	
.fo_line
{
	font:11px Georgia, Times New Roman, Times, serif;
	color:#F7EADE;
	margin:30px 0px 0px 21px;
}	
.fo_ser
{
	font:11px Georgia, Times New Roman, Times, serif;
	color:#F7EADE;
	text-decoration:none;
	margin:30px 0px 0px 24px;
}	
.fo_val
{
	margin:10px 0px 0px 73px;
}
.fo_val1 {
	margin:10px 0px 0px 5px;
}	

.fo_co {
	font:11px Georgia, Times New Roman, Times, serif;
	color:#9C9C9A;
	margin:10px 0px 0px 360px;
}	

.fo_c {
	font:11px Georgia, Times New Roman, Times, serif;
	color:#9C9C9A;
}	